# Ignore CLion and MAC specific files.
.DS_Store
.idea/*

# Ignore the build directories.
build/
cmake-build-debug/*

# Ignore the data directory.
data/

# Ignore the doxygen configuration file.
Doxyfile

# Ignore ctags.
tags
